.file-input {
    display: none;
  }


/* Dialog CSS */
/* Dialog CSS */
/* Dialog CSS */
  .dialog{
    max-height: 350px;
  min-height: 350px;
  max-width: 450px;
  min-width: 450px;
  background-color: #131517;
  }
  

  .dialog-button{
    background-color: #C3073F;
    color: #FFFFFF;
  }

  .dialog-content{
    padding: 7px;
    margin-left: 7px;
    margin-right: 7px;
    max-height: 235px;
  min-height: 235px;
  }

  .dialog-input-message{
    max-height: 150px;
  min-height: 150px;
  max-width: 410px;
  min-width: 410px;
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid #C3073F;
  background-color: #131517;
  color: #C3073F;
  font-size: large;
  }

  .dialog-text-upload{
    margin-left: 80px;
    color: #C3073F;
  font-size: large;
  font-weight: bold;
  }

  .dialog-button-bottom{
    background-color: #C3073F;
    color: #FFFFFF;
    margin-left:150px;
  }

  ::ng-deep.mat-dialog-container {
    background-color: #131517;
}