<body class="body">
  <p>
    <!--NAVIGATION TOOLBAR-->
    <mat-toolbar class="toolbar">

      <button mat-raised-button mat-icon-button class="toolbar-button" [matMenuTriggerFor]="menu">
        <mat-icon >menu</mat-icon>
      </button>

      <span class="spacer"></span>
      <span >HOME</span>
      <span class="spacer"></span>

    </mat-toolbar>
  </p>


  <!--Angular Material Grid to create 3 columns-->
  <mat-grid-list cols="4" rows="2" rowHeight="100%" >

    <!--Left Column-->
    <mat-grid-tile colspan='1' class="left-grid">
      <div>
        <button mat-icon-button mat-raised-button class="left-grid-button" (click)="openDialog()">
          <mat-icon>create</mat-icon>
        </button><span class="left-grid-text">Post</span>
        <br>
        <br>
        <br>
        <button mat-icon-button mat-raised-button class="left-grid-button" routerLink="/home">
          <mat-icon >home</mat-icon>
        </button><span class="left-grid-text">Home</span>
        <br>
        <br>
        <br>
        <button mat-icon-button mat-raised-button class="left-grid-button" routerLink="/profilepage">
          <mat-icon >person</mat-icon>
        </button><span class="left-grid-text">Profile</span>
        <br>
        <br>
        <br>
        <button mat-icon-button mat-raised-button class="left-grid-button" routerLink="/exercise">
          <mat-icon >video_library</mat-icon>
        </button><span class="left-grid-text">Videos</span>
        <br>
        <br>
        <br>
        <button mat-icon-button mat-raised-button class="left-grid-button" (click)="onSignOut()">
          <mat-icon >arrow_back</mat-icon>
        </button><span class="left-grid-text">Sign Out</span>
      </div>
    </mat-grid-tile>

    <!--Middle Column-->
    <mat-grid-tile colspan='2' *ngIf="chat$ | async as chat" class="middle-grid">
      <mat-list role="list">
        <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">

          <!--Card-->
          <mat-card class="message-card" role="listitem" mat-list-item 
          *ngFor="let msg of chat.messages; trackBy: trackByCreated">

            <!--Card-Header-->
            <mat-card-header>
              <div mat-card-avatar><img mat-card-avatar class="message-card-avatar" [src]="msg.user?.profilePicture"></div>
              <mat-card-title class="message-card-title">
                <div>@{{ msg.user?.displayName }}</div>
              </mat-card-title>
            </mat-card-header>

            <!--Card-Content-->
            <mat-card-content class="message-card-content">
              <p class="message-card-text">
                {{ msg.content }}
              </p>
              <!-- Picture on the feed -->
              <span *ngIf="msg.picture"><img mat-card-image class="message-card-image" [src]="msg.picture" alt="Photo"></span>
            </mat-card-content>

          </mat-card>
        </cdk-virtual-scroll-viewport>
      </mat-list>
    </mat-grid-tile>

    <!--Right Column-->
    <mat-grid-tile colspan='1' class="right-grid">

      <!--User Profile Card Page Tabs-->
      <mat-card class="profile-card">

        <!--Card-Header-->
        <mat-card-header>
          <img class="profile-card-image" mat-card-avatar [src]="picture" alt="Photo of User">
          <mat-card-title class="profile-card-title">{{name}}</mat-card-title>
          <mat-card-subtitle class="profile-card-subtitle">{{user?.email}}</mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


</body>


<!-- mat-menu-trigger-for -->
<!-- Gets Triggered When Menu Icon Clicked -->
<mat-menu #menu="matMenu" class="black-color">
  <button mat-menu-item routerLink="/home">Home</button>
  <button mat-menu-item routerLink="/profilepage"> Profile</button>
  <button mat-menu-item routerLink="/exercise"> Exercise</button>
  <button mat-menu-item (click)="onSignOut()"> Sign Out</button>
</mat-menu>