
  body {
    background-color: #131517;
    margin:0;}

  
  .example-spacer {
    flex: 1 1 auto;
  }

  .focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}


* {
  box-sizing: border-box;
}

/* <!--Angular Material Grid to create 3 columns--> */
mat-grid-tile {
  background: #0B0C10;
}

.middle-grid{
  height: fit-content;
  background-color: #131517;
}

.left-grid{
  height: fit-content;
  background-color: #131517;
}

.right-grid{
  height: fit-content;
  background-color: #131517;
}

.user-card {
  height:max-content;
  width:850px;
  margin: 5px 5px 5px 5px;
  background-color: #131517;
}

.user-card-content {
  color: #FFFFFF;
}

.user-card-title {
  color: #FFFFFF;
}

.user-card-actions {
  color: #C3073F;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.button-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}

.viewport {
  height: 850px;
  width: 900px;
  border: 1px solid white;
}

.viewport::-webkit-scrollbar {
  display: none; /* Make the scroll bar invisible */
}

.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  background-color: #131517;
}

.white {
  color: #FFFFFF;
}

.icon-button-color {
  background-color: #C3073F;
}

.black-color {
 color: #131517;
}


/* Mssage-Cards CSS */
.message-card{
  min-width: 885px;
  max-width: 885px;
  max-height: 500px;
  min-height: 80px;
  margin: 10px 7px 10px 7px;
  background-color:  #131517;
  border: 2px solid #C3073F;
  padding: 15px;
  word-wrap: break-word;
  overflow: hidden;
}

.message-card-avatar {
  border: 2px solid #4E4E50;
}

.message-card-title{
  margin-top: 10px;
  color: #4E4E50;
  /* text-shadow: -1px -1px 0 #4E4E50, 1px -1px 0 #4E4E50, -1px 1px 0 #4E4E50, 1px 1px 0 #4E4E50; */
}

.message-card-text{
  color: #FFFFFF;
  padding: 10px;
}

.message-card-image {
  min-width: 300px;
  max-width: 450px;
  max-height: 450px;
  min-height: 80px;
  padding: 15px;
  margin: 10px 7px 10px 7px;
}
