
.body{
  background-color: #131517;
  margin: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

  
.spacer {
  flex: 1 1 auto;
}

.focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}

/* SCROLL CSS */
/* SCROLL CSS */
/* SCROLL CSS */
.scroll-viewport {
  height: 700px;
  width: 700px;
  border: 2px solid #4E4E50;
}

.scroll-viewport::-webkit-scrollbar {
  display: none; /* Make the scroll bar invisible */
}

/* TOOLBAR CSS */
/* TOOLBAR CSS */
/* TOOLBAR CSS */
.toolbar{
  background-color:  #131517;
  color: #FFFFFF;
}

.toolbar-button{
  background-color: #C3073F;
  color: #FFFFFF;
}

/* Message-Card CSS */
/* Message-Card CSS */
/* Message-Card CSS */
.message-card{
  width: 1.45%;
  /* min-width: 50px;
  max-width: 300px;
  max-height: 500px;
  min-height: 80px; */
  margin: 10px 7px 10px 7px;
  background-color:  #131517;
  border: 2px solid #C3073F;
  padding: 15px;
  word-wrap: break-word;
  overflow: hidden;
}

.message-card-avatar {
  border: 2px solid #4E4E50;
}

.message-card-title{
  margin-top: 10px;
  color: #4E4E50;
  /* text-shadow: -1px -1px 0 #4E4E50, 1px -1px 0 #4E4E50, -1px 1px 0 #4E4E50, 1px 1px 0 #4E4E50; */
}

.message-card-text{
  color: #FFFFFF;
  padding: 10px;
}

.message-card-image {
  min-width: 300px;
  max-width: 450px;
  max-height: 450px;
  min-height: 80px;
  padding: 15px;
  margin: 10px 7px 10px 7px;
}

.message-card-actions {
  color: #C3073F;
}

/* Profile-Card CSS */
/* Profile-Card CSS */
/* Profile-Card CSS */
.profile-card{
  min-width: 300px;
  max-width: 300px;
  max-height: 500px;
  min-height: 500px;
  background-color:  #131517;
  border: 2px solid #4E4E50;
}

.profile-card-image {
  max-height: 50px;
  min-height: 50px;
  max-width: 50px;
  min-width: 50px;
  border: 2px solid #C3073F;
}

.profile-card-title {
  color: #FFFFFF;
  margin-top: 10px;
}

.profile-card-subtitle {
  color: #C3073F;
}

/* GRID CSS */
/* GRID CSS */
/* GRID CSS */
.left-grid{
  background-color:  #131517;
  border: 2px solid #4E4E50;
}

.left-grid-button{
  background-color: #C3073F;
  color: #FFFFFF;
}

.left-grid-button-text{
  background-color: #C3073F;
  color: #FFFFFF;
  
}

.middle-grid{
  background-color:  #131517;
  border: 2px solid #4E4E50;
}

.right-grid{
  background-color:  #131517;
  border: 2px solid #4E4E50;
}