<body>
    <div class="main-div">
        <mat-card class="styleMatCard">
            <mat-card-content class="styleMatCard-content">
                <div class="appLogodiv">
                    <img class="appLogo-image" src="../../../assets/appLogoWhite.png">
                </div>
                <div>
                    <h2>Sign In</h2>
                </div>
                <form [formGroup]="signinForm" *ngIf="signinForm">
                    <div class="email-input">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label class="labelText">Email</mat-label>
                            <input matInput type="text" [formControl]="emailControl" />
                            <mat-error *ngIf="emailControl.invalid">
                                Required email address.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-button class="aLink" (click)="onResetPassword()">Forgot Password?</button>
                    <div>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label class="labelText">Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordControl"
                                required />
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="passwordControl.invalid">
                                Required password.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <button class="logInButton" mat-raised-button type="submit" [disabled]="!signinForm.valid"
                            (click)="onSignin()">
                            Log In
                        </button>
                        <br>
                        <br>
                        <button class="logInButton" mat-raised-button type="submit" routerLink="/menu">
                            Back
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</body>