mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: fit-content;
}

.full-width{
    width:80%;
}

.labelText{
    color: white;
}


.forgot-password{
    padding-left:0px;
}

.email-input{
    padding-top: 10px;
}

.aLink{
    margin-right: 10%;
    float: right;
    text-decoration: none;
    background-color: #131517;
    color: #FFFFFF;
}

.main-div{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
      background-color: #131517;
  }

  .logInButton{
      background-color: #C3073F;
      color: white;
  }

  .styleMatCard{
    width: 50%;
    height: 60%;
    margin: 10px 7px 10px 7px;
    background-color:  #131517;
    border: 2px solid #C3073F;
    padding: 15px;
    word-wrap: break-word;
    overflow: hidden;
    color: white;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }


  .appLogodiv{
    padding-top: 1%;
    padding-bottom: 4%;
    height: 0%;
    text-align: center;
  }
  
  .appLogo-image{
    height: 145px;
  /* text-align: center; */ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }