<body>
  <div class="main-div">
    <mat-card class="center">
      <mat-card-content>
          <div class="header">
              <h2>Welcome To Our Fitness App</h2>
          </div>
              <div class="text-center">
                <section>
                      <button class="buttons" mat-raised-button color="warn" routerLink="/signin">Log In</button>
                      <br>
                      <br>
                      <button class="buttons" mat-raised-button color="warn" routerLink="/signup">Sign Up</button>
                </section>
              </div>
      </mat-card-content>
    </mat-card>
  </div>
</body>














<!-- <p>menu works!</p>

<body>
<section>
    <div class="center">
      <button mat-raised-button color="warn" routerLink="/signin">Log In</button>
      <br>
      <br>
      <button mat-raised-button color="warn" routerLink="/signup">Sign Up</button>
    </div>
</section>
</body> -->
