<body class="body">
  <p>
    <!-- NAVIGATION TOOLBAR-->
    <mat-toolbar class="toolbar">
      <button mat-raised-button mat-icon-button class="toolbar-button" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span>PROFILE</span>
      <span class="spacer"></span>
    </mat-toolbar>
  </p>

  <!-- COLUMN PROFILE PAGE -->
  <mat-grid-list cols="4" rows="2" rowHeight="100%" class="grid-list">

    <!--Left Column-->
    <mat-grid-tile colspan='1' class="left-grid">
      <div class="button-column">
        <button mat-icon-button mat-raised-button class="left-grid-button">
          <mat-icon>create</mat-icon>
        </button>
        <br>
        <br>
        <br>
        <button mat-icon-button mat-raised-button class="left-grid-button" routerLink="/home">
          <mat-icon>home</mat-icon>
        </button>
        <br>
        <br>
        <br>
        <button mat-icon-button mat-raised-button class="left-grid-button" routerLink="/profilepage">
          <mat-icon>person</mat-icon>
        </button>
        <br>
        <br>
        <br>
        <button mat-icon-button mat-raised-button class="left-grid-button" routerLink="/exercise">
          <mat-icon>video_library</mat-icon>
        </button>
        <br>
        <br>
        <br>
        <button mat-icon-button mat-raised-button class="left-grid-button" (click)="onSignOut()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </mat-grid-tile>

    <!--Middle Column-->
    <mat-grid-tile colspan='2' class="middle-grid">

      <!--Card-->
      <mat-card class="profile-card">

        <!--Card-Header-->
        <mat-card-header class="profile-card-header">
          <img class="profile-card-image" mat-card-avatar [src]="picture" alt="Photo of User">

          <mat-card-title class="profile-card-title">@{{name}}</mat-card-title>
          <mat-card-subtitle class="profile-card-subtitle">{{userEmail}}</mat-card-subtitle>
          <button class="profile-card-header-button" mat-button>Edit Profile</button>
        </mat-card-header>

        <!--Card-Content-->
        <mat-card-content class="profile-card-content" *ngIf="chat$ | async as chat">
          <div *ngFor="let msg of chat.messages;">
            <mat-card class="message-card" role="listitem" mat-list-item *ngIf="msg.uid == userUid">

              <!--Card-Header-->
              <mat-card-header>
                <img mat-card-avatar class="message-card-avatar" [src]="msg.user?.profilePicture">
                <mat-card-title class="message-card-title">
                  <div>@{{ msg.user?.displayName }}</div>
                </mat-card-title>
                <div><button mat-button class="message-card-delete-button" (click)="onDeleteMessage(msg.uid,msg.content,msg.createdAt,msg.picture)" >Delete Message</button></div>
              </mat-card-header>

              <!--Card-Content-->
              <mat-card-content>
                <p class="message-card-text">
                  {{ msg.content }}
                </p>
                <!-- Picture on the feed -->
                <span *ngIf="msg.picture"><img class="message-card-image" mat-card-image [src]="msg.picture"
                    alt="Photo"></span>

              </mat-card-content>

            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--Right Column-->
    <mat-grid-tile colspan='1' class="right-grid">
      <!--User Information Card Page Tabs-->
      <mat-card class="information-card">

        <!--Card-Header-->
        <mat-card-header>
          <mat-card-title class="information-card-title">
            <h2>USER INFORMATION</h2>
          </mat-card-title>
        </mat-card-header>

        <!--Card-Content-->
        <mat-card-content class="information-card-content">

          <form [formGroup]="informationForm" class="information-card-form">
            <div>
              <mat-form-field class="full-width" appearance="outline" class="information-card-form-field">
                <mat-label class="information-card-form-label">{{height}}</mat-label>
                <input matInput type="number" [formControl]="heightControl" class="information-card-form-input" />
                <mat-icon matSuffix>height</mat-icon>
                <mat-hint class="information-card-form-hint">Height (CM)</mat-hint>
              </mat-form-field>
            </div>
          </form>

          <form [formGroup]="informationForm">
            <div>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label class="information-card-form-label">{{weight}}</mat-label>
                <input matInput type="number" [formControl]="weightControl" class="information-card-form-input" />
                <mat-icon matSuffix>fitness_center</mat-icon>
                <mat-hint class="information-card-form-hint">Weight (KG)</mat-hint>
              </mat-form-field>
            </div>
          </form>

          <form [formGroup]="informationForm">
            <div>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label class="information-card-form-label">{{gender}}</mat-label>
                <input matInput type="text" [formControl]="genderControl" class="information-card-form-input" />
                <mat-icon matSuffix>wc</mat-icon>
                <mat-hint class="information-card-form-hint">Gender</mat-hint>
              </mat-form-field>
            </div>
          </form>

          <button class="information-card-button" mat-button (click)="onSaveProfile()">Save Profile</button>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- mat-menu-trigger-for -->
  <!-- Gets Triggered When Menu Icon Clicked -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">Home</button>
    <button mat-menu-item routerLink="/profilepage">Profile</button>
    <button mat-menu-item routerLink="/exercise">Exercise</button>
    <button mat-menu-item (click)="onSignOut()"> Sign Out</button>
  </mat-menu>

</body>