mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: fit-content;
}

.header{
    text-align: center;
}

.full-width{
    width:80%;
}

.forgot-password{
    padding-left:0px;
}

.email-input{
    padding-top: 10px;
}

.aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
}


.main-div{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    background-color: #131517;
  }

  .file-input {
    display: none;
  }

  .styleMatCard{
    width: 50%;
    height: 630px;
    margin-top: 11%;
    background-color:  #131517;
    border: 2px solid #C3073F;
    padding: 15px;
    word-wrap: break-word;
    overflow: hidden;
    color: #FFFFFF;
    overflow: scroll;
  }
  .styleMatCard::-webkit-scrollbar {
    display: none;
  }

  .labelText{
    color: #FFFFFF;
}

.logInButton{
    background-color: #C3073F;
    color: #FFFFFF;
}

.upload-btn{
  background-color: #C3073F;
  color: #FFFFFF;
}

.appLogodiv{
  padding-top: 1%;
  padding-bottom: 2%;
  height: 8%;
  text-align: center;
}

.appLogo-image{
  height: 145px;
  text-align: center; 
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}